extends ../layout

block content
	//- nav.navbar.navbar-default
	//-   .container-fluid
	//-     .navbar-header
	//-       a.navbar-brand(href='#') Brand
	//-       button.btn.btn-default.navbar-btn(type='button') Sign in
	.wrap
		.login-module
			.modal-dialog
				.modal-content
					.modal-header
						h1.text-center Login
					.modal-body
						form.col-xs-12(accept-charset='UTF-8', role='form', action='/login', method='POST')
							.form-group
								input.form-control.input-lg(name='email' type='text', placeholder='E-mail')
							.form-group
								input.form-control.input-lg(name='password' type='password', placeholder='Password')
							.form-group
								input.signButton.btn.btn-block.btn-lg.btn-primary(type='submit', value='Login')
								span.pull-right
									a(href='register') Register
